{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Fixopan - Home</title>
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid about-banner">
            <span>About Us</span>
        </div>
    </section>

    <section class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>Established in the year 2002, we, "BPT Polymers”, are one of the pioneer and largest manufacturers organizations engaged in manufacturing and supplying a qualitative range of PVC Profiles. We are widely known as FIXOPAN for our PVC Profiles.</p>
                    <ul>
                        <li>PVC Waterstop / Waterstop widely known as FIXOSTOP.</li>
                        <li>Expansion Joints / Construction Joints widely known as FIXOCAP.</li>
                        <li>Portable Cabins / Site Offices</li>
                        <li>PVC Flooring Strips / PVC Floor Separator / PVC Floor Divider</li>
                        <li>PVC False Ceiling</li>
                        <li>PVC Wall Paneling</li>
                        <li>PVC Doors and Windows</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/about-pic.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>We have become popular among our clients by offering a wide range of PVC Profiles in various specifications. Our products are well tested by our team of quality controllers to ensure temperature resistance, dimensional accuracy and durability. These are very cost-effective and find applications in various industries. Our range is high in demand in the markets due to its excellent quality features.</p>
                    <p>These products reflect the expertise and intelligence of our skilled team of professionals. We make sure to abide by the prescribed standards and norms of the industry in order to deliver the highly qualitative range of products to our clients.</p>
                    <p>With conviction and confidence Fixopan, a pioneer in plastics, backed by modern technology, continuous in house R&D coupled with intensive quality control, commenced manufacturing PVC profiles.</p>
                    <p>The company has also developed about a numbers of profiles for engineering application with the ban imposed on use of timber for doors and windows, Fixopan has developed a variety of design in doors and windows in vinyl / teak and other shades, its specialty being sturdiness durability with the reinforced frames and plastic shutters have rendered Fixopan doors incomparable.</p>
                    <p>Fixopan system comprising of rigid PVC hollow and ribbed elements with tongue and groove joints, can be easily and quickly assembled to form durable, fire moisture and termite resistant partitions, false ceilings and wall panelings in variegated colors. Sleek framing of hollow steel or aluminum tubes, imparts rigidity and aesthetics. The hollow panels allow telephone or electrical wiring to pass through easily, eliminating expensive and complicated conducting, making it elegant and totally maintenance free.</p>
                    <p>Fixopan system is available along with false ceiling, paneling, partitions and doors in attractive colors’ & designs making it an integrated system in functional utility and décor. With spiraling cost of construction and rentals, slim Fixopan partitions and paneling save space and erection time to a great extent, making it very much cost effective over any conventional system.</p>
                    <p>Fixopan PVC printed & laminated Profiles are a revolutionary alternative to Timber, particleboard & Plywood for better living & ecological balance. Fixopan PVC profiles come to you in several different specification & wide range of colors & designs to allow giving shape to your desires.</p>
                    <p>Already Fixopan PVC Profiles have found acceptance all over the country. They are well accepted by CPWD, Railways, Housing, P&T telephone exchanges, IAAI, hostels & other Government & Semi Governments Departments and private sector.</p>
                    <p>We also undertake development of new sections specific to customer's requirement. We have no of PVC Profiles rigid as well as flexible which are used for domestic and export purposes.</p>
                </div>
            </div>
        </div>        
    </section>
{% endblock %}