{% extends "base.html" %}
{% load static %}

{% block title %}
	<title>Fixopan - Advantages</title>
{% endblock %}

{% block content %}
	<section>
        <div class="advantages-banner">
            <span>Advantages</span>
        </div>
    </section>

    <section class="advantages-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <span>Termite Proof:</span>
                    <p>Not attacked by termites of any sort hence no dieldrin or other treatment required</p>
                    <span>Sound:</span>
                    <p>By virtue of the cellular structure Fixopan, makes for sound absorption and thermal insulation without extra cost. If a higher degree of sound insulations is required this can be provided by the use of glass wool sandwiched between two layers of Fixopan.</p>
                    <span>Savings on electrical & Telephone:</span>
                    <p>Wiring can be passed through the hallows in the fixopan thus saving on electrical and telephone conduit costs.</p>
                    <span>Damp Proof:</span>
                    <p>Not affected by humidity of moisture</p>
                    <span>Fire resistant:</span>
                    <p>Fire resistant and self extinguishing when subjected to the flammability test.</p>
                    <span>No Maintenance:</span>
                    <p>Maintenance like painting, polishing is not required making for substantial saving in cost.</p>
                    <span>Thermally Non conductive:</span>
                    <p>Being of rigid vinyl thermal conductivity is very low; feels warm to the touch in cold weather. Likewise has insulating capacity, keeping out the wintry cold and summer heat.</p>
                    <span>No maintenance:</span>  
                    <p>Maintenance like painting, polishing is not required making for substantial saving in cost.</p>  
                    <span>No Wastage:</span>
                    <p>Since the members can be cut to predetermined sizes, wastage is negligible.</p>
                    <span>Economics:</span>
                    <p>Ore economical when compared to block board, teak ply veneered partitions and partitions fabricated of second class teakwood paneling & ceiling.</p>
                    <span>Seism city:</span>
                    <p>Resistant to earthquake shocks. By virtue of the steel tubular framing in combination with the PVC cellular profile. This steals a march over conventional partitions, which crack and distort .</p>
                    <span>Profile Stability:</span>
                    <p>PVC product do not warp or distort and are free from risks of delamination as is the case with bonded boards.</p>
                    <span>Speediest Construction:</span>
                    <p>Speed if construction is a major advantage the time required for installation being 1/3rd the time required for conventional partitioning systems.</p>
                    <span>Space Saving:</span>
                    <p>Being two centimeters thick it occupies very little space, one fifth to one third a mojor consideration in rented accommodation.</p>
                    <span> Aesthetics:</span>
                    <p>Aesthetically pleasing and can be produced in a variety of pleasing colours / prints.</p>
                    <span>Lightweight:</span>
                    <p>The material is very light. Requires no supports like beams. Substantial savings in cost of rcc beams columns and foundation accurse.</p>
                    <span>Demount ability:</span>
                    <p>Admits of dismantling and erection and reerection without loss in salvage value</p>
                    <span>Durability:</span> 
                    <p>Highly durable, rigid and shock resistant.</p>               
                </div>
            </div>
        </div>        
    </section>
{% endblock %}