{% extends "base.html" %}
{% load static %}

{% block title %}
	<title>Fixopan - Expansion Construction Joint Covers</title>
{% endblock %}

{% block content %}
	<section>
        <div class="product-1-banner">
            <span>EXPANSION JOINTS / CONSTRUCTION JOINTS </span><span>/EXPANSION CONSTRUCTION JOINT COVERS</span>
        </div>
    </section>

    <section class="product-1-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Construction joints occur where two successive placements of concrete meet. They may be designed to permit movement and/or to transfer load.</p>
                    <p>These are joints that are placed at the end of a day’s work. In slabs they may be designed to permit movement and/or to transfer load. Often in reinforced concrete a conscious effort is made to clean the joint and bond the next day’s work. </p>
                </div>
                <div class="col-md-8">
                    <strong>There are three types of joints: </strong>
                    <ul>
                        <li>Expansion joint </li>
                        <li>Contraction joint </li>
                        <li>Construction joint </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/a1.jpg' %" class="img-fluid" alt="">
                </div>
                <div class="col-12">
                    <p style="margin-top: 20px;">Out of these Expansion joint and Contraction joints are stress relieving ones while the construction joint is not. Joints can be vertical or horizontal. Vertical joint in a building is at the beam bottom of the column and wall junctions. These joints-Expansion and contraction joints separate the structures and pavements. </p>
                    <p>Careful preplanning the location is important for minimum crack free structural members. Construction joints key the two edges of the slab together either to provide transfer of loads or to help prevent curling or warping of the two adjacent edges. </p>
                    <p>Construction joints are needed to accommodate the construction sequence for placing the concrete. The amount of concrete that can be placed at one time is governed by batching and mixing capacity, crew size, and the amount of time available. Correctly located and properly executed construction joints provide limits for successive concrete placements, without adversely affecting the structure. </p>
                    <p>Fixocap is used to cover expansion joints in exterior walls, underwater walls and floors to prevent ingress of backfill or silt which might otherwise deposit and compact in the expansion joint space, and destroy the expansion properties of the joint.</p>
                </div>
            </div>
        </div>        
    </section>
    <section>
        <div class="product-1-banner">
            <span>EXPANSION JOINTS / CONSTRUCTION JOINTS </span><span>/EXPANSION CONSTRUCTION JOINT COVERS</span>
        </div>
    </section>

    <section class="product-1-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Construction joints occur where two successive placements of concrete meet. They may be designed to permit movement and/or to transfer load.</p>
                    <p>These are joints that are placed at the end of a day’s work. In slabs they may be designed to permit movement and/or to transfer load. Often in reinforced concrete a conscious effort is made to clean the joint and bond the next day’s work. </p>
                </div>
                <div class="col-md-8">
                    <strong>There are three types of joints: </strong>
                    <ul>
                        <li>Expansion joint </li>
                        <li>Contraction joint </li>
                        <li>Construction joint </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="img/a1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-12">
                    <p style="margin-top: 20px;">Out of these Expansion joint and Contraction joints are stress relieving ones while the construction joint is not. Joints can be vertical or horizontal. Vertical joint in a building is at the beam bottom of the column and wall junctions. These joints-Expansion and contraction joints separate the structures and pavements. </p>
                    <p>Careful preplanning the location is important for minimum crack free structural members. Construction joints key the two edges of the slab together either to provide transfer of loads or to help prevent curling or warping of the two adjacent edges. </p>
                    <p>Construction joints are needed to accommodate the construction sequence for placing the concrete. The amount of concrete that can be placed at one time is governed by batching and mixing capacity, crew size, and the amount of time available. Correctly located and properly executed construction joints provide limits for successive concrete placements, without adversely affecting the structure. </p>
                    <p>Fixocap is used to cover expansion joints in exterior walls, underwater walls and floors to prevent ingress of backfill or silt which might otherwise deposit and compact in the expansion joint space, and destroy the expansion properties of the joint.</p>
                </div>
            </div>
        </div>        
    </section>
{% endblock %}