{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Fixopan - Home</title>
{% endblock %}

{% block stylesheet %}
<style type="text/css">
    .banner{
        background-image: url("{% static 'img/slider1.jpg' %}");
    }
    .about .row .col-md-6 .img{
        background-image: url("{% static 'img/1.jpg' %}");
    }
    .advantages .row{
        background-image: url('{% static 'img/bg.jpg' %}');
    }
</style>
{% endblock %}

{% block content %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>WATERSTOP MANUFACTURED</h2>
                    <p>BPT Polymers i.e. <strong>FIXOSTOP</strong> means a very high quality product which has been well thought planned and designed by our engineers.</p>
                    <a href="#">CONTACT US</a>
                </div>
            </div>
        </div>       
    </section>

    <section class="about" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>ABOUT US</h2>
                    <p>Established in the year 2002, we, "BPT Polymers", are one of the pioneer and largest manufacturers organizations engaged in manufacturing and supplying a qualitative range of PVC Profiles. We are widely known as FIXOPAN for our PVC Profiles.</p>
                    <ul>
                        <li>PVC Waterstop/Waterstop widely known as FIXOSTOP</li>
                        <li>Expansion Joints/Construction Joints widely known as FIXOCAP</li>
                        <li>Portable Cabins/Site Offices</li>
                        <li>PVC Flooring Strips / PVC Floor Seperator / PVC Floor Divider</li>
                        <li>PVC False Ceiling</li>
                        <li>PVC Wall Paneling</li>
                        <li>PVC Doors and Windows</li>
                    </ul>
                </div>
                <div class="col-md-6 imgwrap">
                    <div class="img"></div> 
                </div>                
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 link">
                    <a href="{% static 'docs/fixopanpvc.pdf' %}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF</a>
                </div>
            </div>
        </div>       
    </section>

    <section class="advantages" id="advantages">
        <div class="container">
            <h2 class="text-center">ADVANTAGES</h2>
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-bug" aria-hidden="true"></i>
                            <h5 class="card-title title_1">Termite Proof</h5>
                            <p class="card-text">Not attacked by termites of any sort, hence no dieldrin or other treatment required.</p>
                            <a href="{% url 'advantages' %}" >READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-signal" aria-hidden="true"></i>
                            <h5 class="card-title title_2">Sound</h5>
                            <p class="card-text">By virtue of the cellular structure Fixopan, makes for sound absorption and...</p>
                            <a href="{% url 'advantages' %}" >READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-bolt" aria-hidden="true"></i>
                            <h5 class="card-title title_3">Savings on Electrical</h5>
                            <p class="card-text">Wirings can be passed through the hallows in the fixopan thus saving on...</p>
                            <a href="{% url 'advantages' %}" >READ MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <h5 class="card-title title_4">Economics</h5>
                            <p class="card-text">Ore economical when compared to block board, teak ply veneered partitions</p>
                            <a href="{% url 'advantages' %}" >READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all">
                <a href="{% url 'advantages' %}">READ ALL ADVANTAGES</a>
            </div>
            
        </div>        
    </section>

    <section class="products" id="products">
        <div class="container">
            <h2 class="text-center">OUR PRODUCTS</h2>
            <div class="row">
                <div class="col-md-6 image">
                    <div class="img1">
                        <img src="{% static 'img/a.jpg' %}" class="img-fluid" alt="Product 1">
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>WATERSTOP/PVC WATERSTOP</h2>
                    <p>Waterstop manufactured by BPT Polymers i.e. FIXOSTOP means a very high quality product which has been well thought planned and designed by our engineers. We intend to provide a material for use in the joint construction of hydraulic structures which would require construction, expansion & contraction joints. These joints enable the structure to withstand the changes due to temperature, settlement of foundation etc.</p>
                    <p class="lower">Fixostop combines all the accepted and proven principals of PVC waterstop. They embedded in concrete, across and/or along the joint waterstops.</p>
                    <a href="{% url 'waterstop' %}">READ MORE</a>
                </div>
            </div>

            <!-- For Desktop -->
            <div class="row row_d">
                <div class="col-md-6">
                    <h2 class="desktop">PVC PROFILES/PVC EXRUSION PROFILES EXTRUSION</h2>
                    <p class="desktop">Established in the year 2002, we 'BPT Polymers' are one of the pioneer and largest manufacturers organizations engaged in manufacturing and supplying a qualitative range of PVC Profiles. We are widely known as FIXOPAN for our PVC Profiles.</p>
                    <ul class="lower_d">
                        <li>PVC Waterstop/Waterstop widely known as FIXOSTOP</li>
                        <li>Expansion Joints/Construction Joints widely knwon as FIXOCAP</li>
                        <li>Portable Cabins / Site Offices</li>
                    </ul>
                    <a href="{% url 'profiles' %}">READ MORE</a>
                </div>
                <div class="col-md-6 image image_d">
                    <div class="img2 img2_d">
                        <img src="{% static 'img/b.jpg' %}" class="img-fluid" alt="Product 2">
                    </div>
                </div>
            </div>
            <!-- Desktop End -->

            <!-- For Mobile -->
            <div class="row row_mobile">
                <div class="col-md-6 image_mobile">
                    <div class="img2_mobile">
                        <img src="{% static 'img/b.jpg' %}" class="img-fluid" alt="Product 2">
                    </div>
                </div>
                <div class="col-md-6 mobile">
                    <h2 class="mobile">PVC PROFILES/PVC EXRUSION PROFILES EXTRUSION</h2>
                    <p class="mobile">Established in the year 2002, we 'BPT Polymers' are one of the pioneer and largest manufacturers organizations engaged in manufacturing and supplying a qualitative range of PVC Profiles. We are widely known as FIXOPAN for our PVC Profiles.</p>
                    <ul class="lower_mobile">
                        <li>PVC Waterstop/Waterstop widely known as FIXOSTOP</li>
                        <li>Expansion Joints/Construction Joints widely knwon as FIXOCAP</li>
                        <li>Portable Cabins / Site Offices</li>
                    </ul>
                    <a href="{% url 'profiles' %}">READ MORE</a>
                </div>
            </div>
            <!-- Mobile End -->

            <div class="row">
                <div class="col-md-6 image">
                        <div class="img3">
                            <img src="{% static 'img/c.jpg' %}" class="img-fluid" alt="Product 3">
                        </div>
                </div>
                <div class="col-md-6">
                    <h2>EXPANSION JOINTS / CONSTRUCTION JOINTS / EXPANSION CONSTRUCTION JOINT COVERS</h2>
                    <p>Construction joints occur where two successive placements of concrete meet. They may be designed to permit movement and/or to transfer load</p>
                    <p>These are joints that are placed at the end of a day’s work. In slabs they may be designed to permit movement and/or to transfer load.</p>
                    <p>There are three types of joints:</p>
                    <ul class="lower">
                        <li>Expansion joint</li>
                        <li>Contraction joint</li>
                        <li>Construction joint</li>
                    </ul>
                    <a href="{% url 'construction' %}">READ MORE</a>
                </div>
            </div>
        </div>        
    </section>

    <section class="contact" id="contact">
        <div class="container">
            <h2>ENQUIRY FORM</h2>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <input type="text" class="form-control" placeholder="Name" name="Name">
                    </div>
                    <div class="col-md-6">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <input type="email" class="form-control" placeholder="Email" name="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <input type="number" class="form-control" placeholder="Phone" name="Phone">
                    </div>
                    <div class="col-md-6">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <input type="text" class="form-control" placeholder="Subject" name="Subject">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        <textarea class="form-control" placeholder="Comments" name="Comments"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" name="copy" value="copy"> Send a copy to yourself (optional)
                    </div>
                    <div class="col-md-6 button">
                        <a href="#">Send Email</a>
                    </div>
                </div>
            </form>
        </div>        
    </section>

    <div class="map">
        <div class="container-fluid">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3442.868039567803!2d76.45209511460128!3d30.354700010805217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39102938f4ee4337%3A0x76c98897e26f1f5d!2sAdBazzar%20%7C%20Digital%20Marketing%20Company%20%7C%20SEO%2C%20SMO%2C%20Web%20Development%20%26%20UNI%20POLE%20in%20Patiala%2C%20Punjab%20India!5e0!3m2!1sen!2sin!4v1573298558294!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
{% endblock %}