{% extends "base.html" %}
{% load static %}

{% block title %}
	<title>Fixopan - PVC Waterstop</title>
{% endblock %}

{% block content %}
	<section>
        <div class="product-1-banner">
            <span>WATERSTOP/PVC WATERSTOP</span>
        </div>
    </section>

    <section class="product-1-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Waterstop manufactured by BPT Polymers i.e. FIXOSTOP means a very high quality product which has been well thought planned and designed by our engineers. We intend to provide a material for use in the joint construction of hydraulic structures which would require construction, expansion & contraction joints.  These joints enable the structure to withstand the changes due to temperature, settlement of foundation etc.</p>
                    <p>Fixostop combines all the accepted and proven principals of PVC waterstop. They embedded in concrete, across and/or along the joint, waterstops form a watertight diaphragm that prevents the passage of fluids (such as water) through the joint. </p>
                    <p>The concept of Fixostop is to provide a water barrier across all joint sin concrete structures by placing the waterstops into edges of adjacent concrete components. Waterstops are essential for use in all water retaining and water excluding structures, being capable of withstanding water pressure from either the internal or external face.</p>
                    <p>Fixostop is an element of a concrete structure, intended to prevent the passages of fluids (such as water) when embedded in and running continuously through concrete joints. Fixostop  are being manufactured from a variety of materials depending on the functionality and their intended use.</p>
                    <div class="col-md-4 image-mobile">
                        <img src="{% static 'img/a1.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <strong>The use of Fixostop prevents the passage of water through expansion/ contraction/ construction joints in the following typical structures:</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <ul>
                        <li>Dams, locks, canals, water reservoirs and aqueducts</li>
                        <li>Water and waste water treatment facilities</li>
                        <li>Primary and secondary containment structures</li>
                        <li>Culverts and tunnels</li>
                        <li>Storage Tanks</li>
                        <li>Retaining walls</li>
                        <li>Bridge and deck abutments</li>
                        <li>Foundations</li>
                        <li>Slabs-on-grade</li>
                        <li>Parking garages</li>
                    </ul>
                </div>
                <div class="col-md-4 image-desktop">
                    <img src="{% static 'img/a1.jpg' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>        
    </section>
{% endblock %}